{#
/**
 * @file
 * Default theme implementation for the people profile
 *
 * Available variables:
 * - content: array
 *
 * @ingroup content

 */
#}


<div class="modal-body">
    <div id="people-profile-content">{{ content }}</div>
</div>