{#
/**
 * @file
 * Default theme implementation for the people profile
 *
 * Available variables:
 * - content: array
 *
 * @ingroup content

 */
#}

{#@ todo this need to go in parent div #}
<div class="modal-header people-profile-mobile-html">

    <button id="people-profile-mobile-close" type="button" class="close idm-button-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div id="people-profile-mobile">{{ content }}</div>

