/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);*/
body {
  /*font-family: 'Open Sans', 'sans-serif';*/
  background: #f0f0f0;
  /* background: url(https://pcbx.us/bfjb.jpg);*/
}

/* Vars */
@import "../../../../themes/custom/barrio_custom/scss/variables";


h1,
.h1 {
  font-size: 36px;
  text-align: center;
  font-size: 5em;
  color: #404041;
}

/*.nav.navbar-nav.mega-nav {
 	margin-top: 1em;
}*/

.mega-dropdown-button {
  color: white;

}

.navbar-nav>li>.dropdown-menu {
  /*margin-top: 20px;*/
  /*border-top-left-radius: 4px;
  border-top-right-radius: 4px;*/
}

.navbar-default .navbar-nav>li>a {
  width: auto;
  font-weight: bold;
}

.mega-dropdown {
  position: static !important;
  /*  width: 100%;*/
}

.dropdown.mega-dropdown.mega-dropdown-button {
  width: 8em;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}


/*Goofy arrow thingy on dropdown (delete 2018-12-26)*/
/*.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}*/

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a,
.mega-dropdown-menu li > a {
  display: block;
  padding: .2em 0;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: $idm_light_blue;
  white-space: normal;
  text-transform: uppercase;
  list-style-type: none;
}

.mega-dropdown-menu li {
  list-style-type: none;
}

.mega-dropdown-menu > li > ul > li > a:hover,
.mega-dropdown-menu  li > a:hover {
  color: $idm_orange;
  text-decoration: none;
}


.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: $idm_light_grey;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: $idm_light_blue;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.navbar-default .navbar-nav > .open > a:focus {
  background-color: #3c3939 !important;
  /*border-top-left-radius: 10% 10px;*/
  /*border-top-right-radius: 10% 10px;*/
}

.dropdown-menu.mega-dropdown-menu.row {
  background-color: #3c3939;
  padding-bottom: 1em;
}

.idm-main-menu > .mega-dropdown-menu {
  position: absolute;
  top: 85%;
}
