//Custom CSS for Profile page(s)

@import "../../../../themes/custom/barrio_custom/scss/variables";



//CSS for mobile profile
#people-profile-mobile h5 {
  color: $idm_black;
  margin-bottom: 0px;
}



.profile-bio-link-wrap {
  background-color: $idm_blue_black;
}

#people-profile-mobile {
  .view-profile-basic-content {
    color: white;
  }
  .name-group-title {
    color: white;
  }
}
