// Custom css for Tools

@import "../../../../themes/custom/barrio_custom/scss/variables";


.research-card {
  border: $idm_light_grey thin solid;
}


.research-card {
  display: flex;
  height: 5em;
  align-items: center;
}

.research-card div {
  margin: auto;
  text-align: center;
}
.research-card  p {
  margin-bottom: 0;
  color: $idm_base_blue;
}

.research-card div h4:hover {
  color: $idm_orange;
}

.research-card div h4 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  color: $idm_base_blue;
}

.research-card.card-selected div h4 {
  color: $idm_orange;
}

.rlp-content-wrapper {
  max-width: 80%;
  margin: auto;

}
@media (min-width: 300px) {
  .research-card div h4 {
    font-size: .9em;
    font-weight: 400;
  }
}

@media (min-width: 576px) {
  .research-card {
    min-width: 12rem;
  }
  .research-card div h4 {
    font-size: 1.1em;
  }
}

@media (min-width: 768px) {
  .research-card {
    min-width: 15rem;
  }
  .research-card div h4 {
    font-size: 1.3em;
    font-weight: 300;
  }

}

//@todo this should be responsive... most likely
.research-team-member {
  max-width: 120px;
  text-align: center;
}

.research-team a {
  color: $idm-light_blue;
}
.research-team a:hover{
  color: $idm_orange;
}

.field--type-image img, .field--name-field-user-picture img {
  margin: 0 !important;
}

.field.field--name-dynamic-token-fielduser-user-display-name.field--type-ds.field--label-hidden.field__item > p{
  margin-bottom: 0px

}

.research-team-lead,
.research-team-member {
  font-size: 80%;
}

//Center username
.field.field--name-dynamic-token-fielduser-user-display-name.field--type-ds.field--label-hidden.field__item {
  text-align: center;
}


.team-lead-img {
  //border-right: thin solid $idm_orange;
  //padding-right: .5em;
}
