// Custom css for Tools

@import "../../../../themes/custom/barrio_custom/scss/variables";


#tool-display {
  z-index: 1;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

.view-tools-filter {
  width: 100%;
}
.tools-wrapper.container {
  width: 720px;
}

@media (max-width: 768px) {

}
@media (max-width: 992px) {
  .tools-wrapper.container {
    width: 100%;
  }
}

//------------------
//Mobile Carousel formatting
//
//
//
//------------------


.carousel-item-mobile {
  height: 90px;
  background-color: #7abaff;
}

.slick-dots {
  bottom: 0;
}

.carousel-mobile-filter {
  margin-left: auto;
  margin-right: auto;
  .slick-prev::before, .slick-next::before {
    font-family: "slick";
    font-size: 20px;

    //@todo line height not correct use of placement
    //Adjust vertcial posistion of L/R
    line-height: 1;
    color: $idm_base_blue;
  }


  .slick-dots {
    bottom: -20px;
  }
  .slick-slide {
    margin: 0px 10px;
  }
  .slick-prev, .slick-next {
    top: 45%;
  }


}

.tool-filter-content {
  margin-top: 1em;
}



@media (max-width: 768px) {
  .carousel-mobile-filter {
    width: 75%;
  }
}
@media (max-width: 450px) {
  .carousel-mobile-filter {
    width: 310px;
  }
}@media (max-width: 365px) {
  .carousel-mobile-filter {
    width: 290px;
  }
}



//End mobile carousel code


.tools-filter-title > p {
  font-size: .7rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.col-2.text-center.tools-filter-title {
  max-width: 14.2%;
}

//Tools Filter UI Mobile

.carousel-inner.tools-filter-wrapper {
  background-color: $idm_light_grey;
}
//.tool-filter-content h4 {
//  font-weight: lighter;
//  text-transform: uppercase;
//  margin-top: .5em;
//}

.tools-filter-mobile {
  background-color: $idm_light_grey;

  h4 {
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: .5em;

  }

  p {
    font-weight: lighter;
  }
}








// @todo Not a fan of this-  Replace with different symbols?
// @todo Delete
.carousel-control-next,
.carousel-control-prev {

  filter: invert(100%);
}

#toolsUIindicators {
  margin-bottom: 5%;
}


//End Filter UI Mobile






#filter-intro {
  color: $idm_orange;
  font-size: .9rem;
  padding: 5px 0 20px;
}

.tools-card {
  border: $idm_light_grey thin solid;
}


.tools-card {
  display: flex;
  height: 5em;
  align-items: center;
}


#status-bar {
  height: 5px;
  background-color: lightgray;
  margin: 0;
}

.tools-filter-title > p {
  color: #0a7bc1;
}
.col-2.text-center.tools-filter-title.highlight-filter {
  color: $idm_charcoal;
  font-weight: bolder;
}.col-2.text-center.tools-filter-title {
  color: $navbar_background;
}



//.tool-filter-content > p {
//  color: $idm_charcoal;
//}
// @todo width and position to be determined by jquery
#status-bar-indicator {
  height: inherit;
  background-color: $idm_light_blue;
  width: 5em;
  position: relative;
}

.tools-card div {
  margin: auto;
  text-align: center;
}
.tools-card  p {
  margin-bottom: 0;
  color: $background_grey;
}

.tools-card div h4:hover {
  color: $idm_orange;
}
.tools-card div h4 {
  font-size: 1.3em;
  font-weight: 300;
  //text-transform: uppercase;
  //color: $idm_base_blue;
  color: $idm_base_blue;
}

.tools-card.card-selected div h4,
.tools-content h5 {
  color: $idm_orange;
}

.tools-card.card-selected div p {
  color: white;
}



.close.tool-content-close {
  color: $idm_orange;
  opacity: 1;
  font-weight: lighter;
  font-size: 2em;
  text-shadow: none;
}

.close.tool-content-close:hover {
  color: white;
}

.col-2.text-center.tools-filter-title.highlight-filter {
  color: #333333;
  font-weight: bolder;
}

//@todo This could be done dynamically... or with a media query
.tools-content {
  color: white;
  background-color: $idm_deep_blue;
  padding: 1em;
}


// CSS for tool highlight bar

.tool-highlight-topbar.show-tool {
  margin-top: 0px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: .5em;
  background-color: $idm_orange;
  width: .1em;
  position: absolute;
  bottom: 95%;
  left: 40%;
}

.tools-banner-l3 p {
  color: $background_grey;
}
#tools ~ p {
  color: $background_grey;
}



@media (min-width: 300px) {
  .tools-card div h4 {
    font-size: 1.2em;
    font-weight: 500;
  }
  .view-content-tools-wrapper {
    width: 100%;
    margin: auto;
  }
  .tools-card {
    height: 8rem;
  }
  .tools-card p {
    font-size: .8rem;
  }
}

.tools-content > .modal-header {
  border: none;
  padding: 0;
}
.tools-content > .modal-header .close {
  padding: 0 .5rem 1rem;
}

@media (min-width: 576px) {
  .tools-card {
    min-width: 12rem;
  }
  .tools-card div h4 {
    font-size: 1.1em;
  }
}

@media (min-width: 768px) {
  .tools-card {
    min-width: 15rem;
  }
  .tools-card div h4 {
    font-size: 1.3em;
    font-weight: 500;
  }
  .view-content-tools-wrapper {
    width: 80%;
    margin: auto;
  }
  .tool-filter-content p {
    font-size: .7em;
    text-transform: uppercase;
  }

}

.insert.tools-content-wrapper {
  position: relative;
  bottom: 6px;
}







/**
 * Old Code below this line
 */

#tool-filter-footer p {
  font-weight: 200;
  font-size: smaller;
  color: #0076A9;
}
.tool.close {
  color: $idm_orange;
  font-size: 2rem;
  font-weight: lighter;
  opacity: 1;
  text-shadow: none;
}

//.tools-banner-l2 h5 {
//  font-weight: lighter;
//}
.card-filter {
  clear: both;
}

.card-filter .btn.btn-outline-primary {
  margin: 0 .5em;
}
.tools-banner-l2 {
  color: $background_grey;
}

div.tool-highlight footer {
  padding-bottom: 3rem;
}

.tool-card .card-body {
  padding: 0 0 1rem;
}
span.button-filter .btn-outline-primary {
  color: $idm_orange;
  border-color: $idm_light_blue;
}

span.button-filter .btn {
  font-weight: 200;
  font-size: .8rem;
}


.tool-card {
  color: $idm_light_blue;
}

.tool-card p {
  color: black;
  font-size: smaller;
}
.tool-card-selected p {
  color: white;
}

.tool-card:hover {
  color: white;
  background-color: $navbar_background;
}
.card.tool-card-selected,
.tool-card-selected:hover {
  color: $idm_orange;
  background-color: $idm_deep_blue;
}

.tool-highlight {
  color:#FF6315;
  background-color: #0B1F2C;
}
.tool-card .card-title {
  padding-top: 1rem;
  margin-bottom: 0;
}
.tool-card > .card-title h4 {
  font-weight: 300;
}
#tool-display p {
  color: white;
  font-size: smaller;
}
section.tool-card-text {
  clear: both;

}

#tool-display {
  position: relative;
  top: -10px;
}

.card.tool-card {
  margin: .5em;
}

/*Put buttons in a row*/
.btn.btn-outline-primary {
  float: left;
}
.card-filter {
  margin-bottom: 2em;
}
footer .btn {
  margin: 0 .5em;
}
//@todo Set width to 6.5... not a great option. perhaps stack?
span.button-filter {
  width: 6.5em;
  margin: 0 .2em;
}


/*Filter decoration*/
.tool-card-filtered::after {
  content: '';
  width: 10%;
  height: 4px;
  background: $idm_orange;
  position: absolute;
  left: 45%;
  display: block;
}

.tools.close {
  color: $idm_orange;
  font-size: 2rem;
  font-weight: lighter;
  opacity: 1;
  text-shadow: none;
}
.card-sublink-buttons-dynamic .btn-outline-primary {
  color: $idm_orange;
  border-color: #61B4E4;
  margin-right: .5em;
}

.view-content-tools-wrapper .tools-card {
  cursor: pointer !important;
}

.tools-banner-l3 {
  font-size: .9rem;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

//////////////////////
//Tools Mobile

#tools-filter .carousel-indicators li {
  background-color: $idm_light_blue
}
#tools-filter .carousel-indicators {
  position: relative;
}
#tools-filter .carousel-indicators .active {
  opacity: 1;
  height: 4px;
  width: 40px;
  background-color: $idm_light_blue;
}

#tools-filter .carousel-caption {
  position: absolute;
  bottom: 0px;
  left: 10%;
  right: 10%;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  //background-color: #c3c6c9;
  background-image: linear-gradient(#d9d9d9, rgba(217, 217, 217, 0.6));
}

#tools-filter .carousel-control-next,
#tools-filter .carousel-control-prev {
  width: 5%;
}

.carousel-caption h4 {
  color: black;
  font-weight: lighter;
  text-transform: uppercase;
}
.carousel-caption p {
  color: #000000;
  font-size: smaller;
}
.fa-angle-left, .fa-angle-right {
  font-size: 30px;
  color: $idm_orange
}

.slide-body {
  height: 5em;
}


#addbutton {
  margin-left: 1em;
}

summary#tools {
  display: list-item;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
}




//.End Tools Mobile
////////////////////




