@charset "UTF-8";
.research-card {
  border: rgba(0, 0, 0, 0.125) thin solid; }

/*
 * CSS for RLP
*/
.research-banner-l3 {
  font-size: .9rem;
  width: 86%;
  margin-left: auto;
  margin-right: auto; }

.research-banner-l4 {
  clear: both; }

.research-banner-l4 a {
  text-transform: uppercase;
  text-decoration: none; }

.research-banner-l4 a:hover {
  color: #f1815e;
  text-decoration: none; }

.rlp-button-text {
  font-size: smaller;
  color: #f1815e; }

.research-banner-l4.row.mx-auto.d-flex.justify-content-center {
  width: 75%;
  -webkit-box-shadow: 4px 7px 13px -8px #474647;
  -moz-box-shadow: 4px 7px 13px -8px #474647;
  box-shadow: 4px 7px 13px -8px #474647;
  margin-bottom: 2em; }

ul.rlp-links {
  list-style: none; }

.modal-header.rlp {
  border: none;
  float: right; }

.rlp-body {
  clear: both; }

li.vl::before {
  content: "\25AE";
  color: #f1815e; }

.vl a {
  color: white;
  font-size: smaller;
  text-transform: uppercase; }

.research-card {
  display: flex;
  height: 5em;
  align-items: center; }

.research-card div {
  margin: auto;
  text-align: center; }

.research-card p {
  margin-bottom: 0;
  color: #0076A9; }

.research-card div h4:hover {
  color: #f1815e; }

.research-card div h4 {
  font-size: 1.3em;
  font-weight: 300;
  color: #0076A9; }

.research-card.card-selected div h4 {
  color: #f1815e; }

.rlp-content-wrapper {
  max-width: 80%;
  margin: auto; }

.field.field--name-user-picture.field--type-image {
  width: 100px;
  height: 100px; }

@media (min-width: 300px) {
  .research-card div h4 {
    font-size: 1.2em;
    font-weight: 500; }

  .rlp-content-wrapper {
    max-width: 100%;
    margin: auto; }

  .research-banner-l4 {
    margin: 2em 0;
    width: 75%; } }
@media (min-width: 576px) {
  .research-card {
    min-width: 12rem; }

  .research-card div h4 {
    font-size: 1.1em; }

  .research-banner-l4 {
    margin: 2em 0;
    width: 75%; } }
@media (min-width: 768px) {
  .research-card {
    min-width: 15rem; }

  .research-card div h4 {
    font-size: 1.3em;
    font-weight: 500; }

  .rlp-content-wrapper {
    max-width: 80%;
    margin: auto; }

  .research-banner-l4 {
    margin: 1em 0;
    width: 80%; } }
.research-team-member {
  max-width: 120px;
  text-align: center; }

.research-team a {
  color: white; }

.research-team a:hover {
  color: #f1815e; }

.research-team-member-group .slick-prev::before, .slick-next::before {
  color: #f1815e;
  opacity: 0.9; }

.research-team-member-group .slick-next::before {
  content: "→";
  color: #f1815e; }

.field--type-image img, .field--name-field-user-picture img {
  margin: 0 !important; }

.field.field--name-dynamic-token-fielduser-user-display-name.field--type-ds.field--label-hidden.field__item > p {
  margin-bottom: 0px; }

.research-team-lead,
.research-team-member {
  font-size: 80%; }

.field.field--name-dynamic-token-fielduser-user-display-name.field--type-ds.field--label-hidden.field__item {
  text-align: center; }

.field.field--name-field-user-title.field--type-string.field--label-hidden.field__item {
  text-align: center; }

.field--name-field-team-lead .field.field--name-field-user-title.field--type-string.field--label-hidden.field__item {
  width: 100px;
  margin-left: auto;
  margin-right: auto; }

.research-team-member-group {
  width: 450px;
  margin-left: 2em; }

.rlp.modal-header {
  border: none;
  padding: 0 .5rem 1rem; }

#rlpModal .modal-content {
  background-color: #09212E; }

#modal-body-template #research-modal {
  color: white;
  font-size: smaller; }

#rlpModal .modal-header {
  color: #f1815e;
  border-bottom: none; }

.close.tool-content-close {
  color: #f1815e;
  opacity: 1;
  font-weight: lighter;
  font-size: 2em;
  text-shadow: none; }

#tools-modal {
  color: #f1815e;
  opacity: 1;
  text-shadow: none; }

.team-profile-thumbnail {
  color: white; }

a.mobile-profile:active,
a.mobile-profile:hover,
a.mobile-profile:focus {
  color: transparent; }

#modal-footer-template {
  border-top: 1px solid #f1815e; }

#rlp-detail-mobile-footer-links {
  width: 100%; }

.close.tool-content-close:hover {
  color: white; }

#people-profile-mobile h5 {
  color: #0B1F2C; }

.research-team-lead:nth-child(2) {
  margin-left: 1em; }

@media (max-width: 990px) {
  .research-team-member-group {
    margin-left: 2.5em;
    width: 260px; } }
@media (max-width: 700px) {
  .research-team-member-group {
    margin-left: auto;
    margin-right: auto;
    width: 275px; } }
@media (max-width: 500px) {
  .research-team-member-group {
    margin-left: auto;
    margin-right: auto; } }

/*# sourceMappingURL=research.css.map */
