/* Mixins */
/* Vars */
body {
  background: #ccc;
  background: #fefefe;
  background: -moz-radial-gradient(center, ellipse cover, #fefefe 0%, #e0e0e0 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fefefe), color-stop(100%, #e0e0e0));
  background: -webkit-radial-gradient(center, ellipse cover, #fefefe 0%, #e0e0e0 100%);
  background: -o-radial-gradient(center, ellipse cover, #fefefe 0%, #e0e0e0 100%);
  background: -ms-radial-gradient(center, ellipse cover, #fefefe 0%, #e0e0e0 100%);
  background: radial-gradient(ellipse at center, #fefefe 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e0e0e0',GradientType=1 ); }

.tabs_wrapper {
  width: 85%;
  text-align: center;
  margin: 0 auto;
  background: transparent; }

li.who-button {
  /* padding: 2em 0 !important; */
  margin: .2em 0 !important; }

ul.tabs {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 10;
  margin: 25px 0 0;
  padding: 0;
  width: 23%;
  min-width: 175px;
  list-style: none;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  ul.tabs li {
    margin: 0;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 31px;
    color: white;
    text-align: left;
    font-weight: bold;
    background-color: #666;
    background-color: #d9d9d9; }
    ul.tabs li:hover {
      background-color: #0a6eb4;
      color: white;
      -ms-transition: all .3s ease;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
    ul.tabs li.active {
      background: rgba(9, 170, 211, 0.29);
      background: lightgrey;
      color: #898989;
      -ms-transition: all .3s ease;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }

.tab_container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 20;
  left: -2%;
  width: 70%;
  min-width: 10px;
  text-align: left;
  background: white;
  border-radius: 12px; }

.tab_content {
  padding: 20px;
  height: 100%;
  display: none; }

.tab_drawer_heading {
  display: none; }

@media screen and (max-width: 781px) {
  ul.tabs {
    display: none; }

  .tab_container {
    display: block;
    margin: 0 auto;
    width: 95%;
    border-top: none;
    border-radius: 0;
    box-shadow: 0px 0px 10px black; }

  .tab_drawer_heading {
    background-color: #ccc;
    background-color: #d9d9d9;
    color: #fff;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center; }
    .tab_drawer_heading:hover {
      background: #ccc;
      background: #ae0046;
      background: -moz-linear-gradient(top, #ae0046 0%, #fb0f56 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ae0046), color-stop(100%, #fb0f56));
      background: -webkit-linear-gradient(top, #ae0046 0%, #fb0f56 100%);
      background: -o-linear-gradient(top, #ae0046 0%, #fb0f56 100%);
      background: -ms-linear-gradient(top, #ae0046 0%, #fb0f56 100%);
      background: linear-gradient(to bottom, #ae0046 0%, #fb0f56 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae0046', endColorstr='#fb0f56',GradientType=0 );
      color: white; }

  .d_active {
    background: #fff;
    background: #c125b1;
    background: -moz-linear-gradient(top, white 0%, #d6d6d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #9f0735));
    background: -webkit-linear-gradient(top, white 0%, #d6d6d6 100%);
    background: -o-linear-gradient(top, white 0%, #d6d6d6 100%);
    background: -ms-linear-gradient(top, white 0%, #d6d6d6 100%);
    background: linear-gradient(to bottom, white 0%, #d6d6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c001e', endColorstr='#9f0735',GradientType=0 );
    color: #898989; } }

/*# sourceMappingURL=rvtab.css.map */
