// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system


//$fa-font-path: "../webfonts";

$white:    #fff !default;
$navbar_background: #898989;
$background_grey: #6f6f6f;
$background_dark_grey: #292929;
$idm_orange: #FF6315;
$idm_light_blue: #61B4E4;
$idm_deep_blue: #0B1F2C;
$idm_base_blue: #0076A9;