// IDM Custom

//Extend media Query


//@media (max-width: 767px) {
//
//
//}



// Variables


@import "variables";



//Navbar
.navbar-default {
  background-color: $navbar_background;
}
.navbar-default {
  background-color: #222;
  border-color: #111111;
  padding: 0.5em 0 0.5em 0;
}






.container-fluid.full-width {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}
.row.row-no-gutter {
  margin: 0
}
.row.row-no-gutter [class*="col-"] {
  padding: 0
}
.img-full-width {
  width: 100.5%;
  height: auto;
}
.has-inner .row.row-no-gutter {
  margin-left: -10px;
  margin-right: -10px;
}
.row.row-no-gutter .inner {
  padding-left: 10px;
  padding-right: 10px;
}
//Banner
.jumbotron {
  padding: 0;
}
div#jumbotron-banner-text {
  padding-left: 1.8em;
}
p.banner-left {
  color: white;
  font-size: 1.0rem;
}
.highlight {
  font-size: 2.5rem;
  color: #EFB750;
}
.idm-banner {
  color: white;
}

.center-content {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.banner-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
// Add a little margin at the bottom of the dropdown
.dropdown-menu > .col-md-6 {
  padding-bottom: 1em;
}
//Test Code / Separator bar
.left-column-seperator {
  border-right: thin solid #F09B57;
}

// Underline on focus link
.mega-dropdown a:focus::after {
  background: none repeat scroll 0 0 #F1815E;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: relative;
  width: 10px;
}


/*
 * Hero/Carosel image
 */
.hero {
  background-color: #c0bdc2;
  width: 100vw;
  height: 28vw;
  position: relative;
}
.bg {
  /* The image used */
  background-image: url("http://idmod.org/sites/default/files/seattle_1920.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* bottom left navbar */

.bg-gold {
  background-color: #EFB750CC;
  background-image: linear-gradient(to right, #F27A60,  #EFBD4F);
  border-radius: 0px 10px 0px 0px;
}

#nav-gold > li > a {
  color: white;
}
#nav-gold > li > a:hover {
  color: black;
  background-color: #EFB750CC;
}

.navbar.navbar-default.visible-xs.quicklinks {
  background-color: #EFB750CC;
}
.quicklinks-bar > li > a {
  color: white;
}
.quicklinks-bar > li > a:hover {
  color: black;
  background-color: #EFB750CC;
}

.mobile-quicklinks .navbar-brand {
  font-size: 14px;
  text-transform: none;
}

//Nav-main
// @todo This this should not be showing up. Hiding for now

#navbar-main {
  display: none !important;
}


/* How we work panel
 */
.nav-tabs-dropdown.how-panel {
  display: none;
  border-bottom-left-radius: 0;
}
hr {
  width: 4em;
  margin-left: auto;
  margin-right: auto;
  background-color:#337ab7;
  opacity: 0.9;
  height: 5px;
}

hr.how-panel {
  color: grey;
  width: 2em;
  margin-right: 2em;
  margin-top: 10px
}
h2.how-panel {
  color: grey;
}
h3.how-panel {
  margin-top: 0px;
  color: #19c5ff;
}


.how-panel > .well {
  background: none;
  border: 0px;
  box-shadow: none;
}

//Publications

.clearfix {
  clear: both;
}

/* People/Team page
 */

.profile-video-container {
  height: 250px;
  width: 250px;
}


//Some temporary formatting
//2019/2/7
//@todo remove/move

.profile-bio-link-wrap.not-mobile-display {
  margin-top: 2em;
  overflow: hidden;
  max-width: 50rem;
}

.profile_bio_static.col {
  background-color: beige;
}
.people_bio_dynamic {
  background-color: lightblue;
  overflow-y: scroll;
  max-height: 25em;
}


.people-card {
  width: 15rem;
}




// End temp formatting
