// IDM Custom

//Extend media Query


// Variables
@import "variables";



//Navbar
.navbar-default {
  background-color: $navbar_background;
}
.navbar-default {
  background-color: #222;
  border-color: #111111;
  padding: 0.5em 0 0.5em 0;
}

.container-fluid.full-width {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}
.row.row-no-gutter {
  margin: 0
}
.row.row-no-gutter [class*="col-"] {
  padding: 0
}
.img-full-width {
  width: 100.5%;
  height: auto;
}
.has-inner .row.row-no-gutter {
  margin-left: -10px;
  margin-right: -10px;
}
.row.row-no-gutter .inner {
  padding-left: 10px;
  padding-right: 10px;
}
//Banner
.jumbotron {
  padding: 0;
}
div#jumbotron-banner-text {
  padding-left: 1.8em;
}
p.banner-left {
  color: white;
  font-size: 1.0rem;
}
.highlight {
  font-size: 2.5rem;
  color: $gold_accent;
}
.idm-banner {
  color: white;
}


.quicklink-item {
  margin-top: .3em;
}
.quicklink-item p {
  margin: 0;
}

.quicklink-item a {
  color: white;
}
.quicklink-item a:hover {
  color: white;
  text-decoration: none;
}

.center-content {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.banner-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

/**********
* Main menu
**/

.menu-left-col {
  width: 40% !important;
}
.menu-right-col {
  width: 60% !important;
}
//make content full width when column 1 goes away
@media (max-width: 990px) {
  .menu-right-col {
    width: 100% !important;
  }
}




.menu-right-col {
  padding-left: 5%;
}

// Add a little margin at the bottom of the dropdown
.dropdown-menu > .col-md-6 {
  padding-bottom: 1em;
}
//Test Code / Separator bar
.left-column-separator {
  border-right: thin solid $idm_orange;
  padding-right: 2em;
}
.menu-body p {
  color: white;
}
.menu-body-link a {
  color: $idm_light_blue !important;
}
.menu-body-link a:hover {
  color: $idm_orange !important;
}



// Underline on focus link
.mega-dropdown a:focus::after {
  background: none repeat scroll 0 0 $idm_orange;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: relative;
  width: 10px;
}


/*
 * Hero/Carosel image
 */
.hero {
  background-color: $background_grey;
  width: 100vw;
  height: 28vw;
  position: relative;
}
.bg {
  /* The image used */
  background-image: url("http://idmod.org/sites/default/files/seattle_1920.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* bottom left navbar */

.bg-gold {
  background-color: #EFB750CC;
  background-image: linear-gradient(to right, #F27A60,  #EFBD4F);
  border-radius: 0 10px 0 0}


.mobile-quicklinks .navbar-brand {
  font-size: 14px;
  text-transform: none;
}

//Nav-main
// @todo This this should not be showing up. Hiding for now

#navbar-main {
  display: none !important;
}


/* How we work panel
 */
.nav-tabs-dropdown.how-panel {
  display: none;
  border-bottom-left-radius: 0;
}
hr {
  width: 4em;
  margin-left: auto;
  margin-right: auto;
  background-color: $idm_base_blue;
  opacity: 0.9;
  height: 5px;
}

hr.how-panel {
  color: grey;
  width: 2em;
  margin-right: 2em;
  margin-top: 10px
}
h2.how-panel {
  color: grey;
}
h3.how-panel {
  margin-top: 0;
  color: $idm_light_blue;
}


.how-panel > .well {
  background: none;
  border: 0;
  box-shadow: none;
}

//Publications

.clearfix {
  clear: both;
}

a.publication-link-external {
  color: white;
}
a.publication-link-external:hover {
  color: $idm_base_blue;
  text-decoration: none;
  text-align: center;
}

.profile-link-item a {
  color: white;
  font-size: smaller;
}
.profile-link-item a:hover {
  color: $idm_orange;
  text-decoration: none;
}
.profile-link-item a:active {
  color: white;
  text-decoration: none;
}
.profile-link-item a:focus {
  color: white;
  text-decoration: none;
}


/* People/Team page
 */

.profile-video-container {
  height: 250px;
  width: 250px;
}

/**
* Format People Model
*/


.path-people .ui-dialog {
  background-color: $background_grey;
}

.path-people .ui-widget-header {
  background: none;
  border: none;
}
.profile-dynamic-wrap-links {
  width: 100%;
  //background-color: gray;
}
//Get rid of the margin on links
.profile-dynamic-wrap-links .container-html-twig {
  margin: 0;
}

.profile-dynamic-wrap-links {
  position: absolute;
  bottom: 0;
}

.col.profile-link-item {
  border-color: white;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  flex-grow: 0;
  text-align: center;
}

//------------------
//Temporary Formatting
//
//2019/2/7
//@todo remove/move
//------------------


//All profile stuff
.profile-bio-link-wrap.not-mobile-display {
  overflow: hidden;
  max-width: 50rem;
}

.profile-contact {
  background-color: $background_grey;
}
.profile-contact label {
  margin-bottom: 0;
  color: white;
}

.profile-contact .form-group {
  margin-bottom: .1rem;
  background-color: $background_grey;
}


.profile_bio_static.col-4 {
  background-color: $background_grey;
  //$todo Why do we have to do this????
  float: left;
}


.view-profile-basic-content {
  color: white;
}
.people_bio_dynamic {
  background-color: $background_grey;
  //overflow-y: scroll;
  //max-height: 35em;
}

.profile-swap {
  overflow-y: scroll;
  max-height: 20em;
  margin-bottom: 2em;
}

.people-card {
  width: 15rem;
  margin: .2rem;
  background-color: $background_dark_grey;
}
//@todo This HAS to be more specific
.people-photo .card-body {
  color: white;
}

.people-photo h5 {
  font-size: 1rem;
}
.people-photo p {
  font-size: small;
}


//------------------
//Common Card page formatting
//
//2019/2/7
//
//------------------

.orange {
  color: $idm_orange;
}

/*Style leading dash on banner*/
.leading-dash {
  width: 4em;
  border: none;
  height: 1px;
  background-color: #bfc3c6;
  float: left;
  position: relative;
  bottom: .2em;
  margin-right: .2em;
}

.tools-banner-l2 h5 {
  font-weight: lighter;
}
.view-content {
  clear: both;
}

.research-content {
  color: white;
  background-color: $idm_deep_blue;
}

.card-selected,
.card-selected:hover {
  color: $idm_orange;
  background-color: $idm_deep_blue;
}

//@todo nudge the content up... is there a better way?
//@todo move this to the research css?
//This may not be the best way to move the content up

.insert.research-content-wrapper {
  position: relative;
  bottom: 6px;
}

#research-modal {
  padding: 1em 0 1em 1em;
}

.team-member-card-thumbnail img {
  margin-bottom: 0;
}

.team-card-thumbnail {
  width: 100px;
  margin-right: 1em;
}
.team-card-thumbnail img {
  margin-bottom: 0px;
}

//@todo temp code
.field.field--name-user-picture.field--type-image.field--label-hidden.field__item {
  margin-right: 1em;
}




//------------------
//IDM Footer
//
//2019/5/6
//
//------------------

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  //#col1 {
  //  -ms-flex: 0 0 15%;
  //  flex: 0 0 15%;
  //  flex-grow: 0;
  //  flex-shri nk: 0;
  //  flex-basis: 15%;
  //  max-width: 15%;
  //  margin: 0 1em 0 2em;
  //}
  //#col2,
  //#col3,
  //#col4,
  //#col5 {
  //  -ms-flex: 0 0 20%;
  //  flex: 0 0 20%;
  //  flex-grow: 0;
  //  flex-shrink: 0;
  //  flex-basis: 20%;
  //  max-width: 20%;
  //}

  .idm-footer {
    padding-top: 1em;
  }
  .footer-logo img {
    margin-bottom: .5em;
    width: 50%;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .footer-logo img {
    margin-bottom: .5em;
    width: 30%;
  }

}


.idm-footer {
  padding-top: .5em;
}

//.footer-logo img {
//  margin-bottom: .5em;
//  width: 50%;
//}

//Override default CSS
.footer-wrapper-mobile {
  background-color: black;
}
.ui-accordion-content {
  background-color: black;
}
.idm-footer-mobile h3 {
  background-color: black;
  color: whitesmoke;
  border: none;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
}
#terms-conditions {
  margin-bottom: 1em;
}
#terms-conditions hr {
  width: 90%;
  height: 1px;
}
.ui-widget-content a {
  background-color: black;
  color: #d9d9d9;
  outline: none;
  font-size: smaller;
  text-transform: uppercase;
}
.ui-widget-content a:hover {
  color: $idm_orange;
}
.ui-widget-content a:focus {
  color: #d9d9d9;
}


.idm-footer-mobile h3:hover {
  color: $idm_orange;
  outline:none;
}
.idm-footer-mobile h3:active {
  border: none;
  outline: none;
}
.idm-footer-mobile h3:focus {
  border: none;
  outline: none;
  background-color: $background_dark_grey;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {

  border: none;
  background: #6f6f6f;
  font-weight: normal;
  color: #629ee4;
}
.ui-state-default {
  border: none;
}

.ui-accordion li {
  list-style-type: none;
}
//End override
#footer-header-mobile {
  padding: .5em 0;
}



.footer-wrapper {
  padding: .5em 0;
}
.footer-wrapper p {
  color: white;
  font-size: .6em;
  margin: 0;
}
.footer-logo {
  text-align: center;
}

.footer-logo-wrapper {
  text-align: center;
}


.footer-links {
  display: inline-grid;
  margin-right: .5em;
}

.footer-links a {
  color: white;
  font-size: .6em;
}
.footer-links a:hover {
  color: $idm_orange;
  text-decoration: none;
}


.vertical-text {
  transform: rotate(270deg);
  transform-origin: top;
  float: left;
}
p.vertical-text {
  color: $idm_light_blue;
  font-size: .8em;
  text-transform: uppercase;
  margin-top: 3em;
}

/*
  Hack to get footer to fit
*/

#col2.col-5 {
  padding-left: 0;
  padding-right: 0;
  max-width: 38%;

}
#col3.col-3 {
  padding-left: 0;
  padding-right: 0;

}
//End footer hack
#footer-footer-mobile {
  margin-left: 1em;
}
.footer-base-links {
  font-size: .8em;
  text-transform: uppercase;
  margin: .5em 0;
}
.footer-base-links > .col.text-center {
  padding: 0;
  font-size: .7em;
}
.footer-logo-mobile > img {
  width: 6em;
}
.footer-mobile-text {
  font-size: .8em;
}

.footer-inline {
  display: inline-block;
  width: 100%;
}

.footer-mobile-logo {
  display: block;
  float: left;
}




