{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - research_content: T/F flag to indicate research node
 * @todo hard coded research-content for the testing....
 *
 * @ingroup themeable
 * @todo rlp-detail-more needs to be conditional
 *
 */
#}
{%
  set classes = [
    'layout',
    'layout--onecol',
    'rlp-detail-more',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}
